<!DOCTYPE html>
<html>
<head>
  <title>Open Mobile App</title>
  <style>
     body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    button {
      padding: 15px 25px;
      font-size: 18px;
      background-color: green;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      display: block;
      margin: 0 auto;
    }
  </style>
</head>
<body>

<!-- Larger button with a green background -->
<button onclick="openMobileApp()">Confirm</button>

<script>
function openMobileApp() {
  var appURI = 'learningapp_kzn_1://'; // Replace with your app's URI scheme

  // Get the UID and token from the URL using JavaScript
  var url = window.location.href;
  var uid = extractUIDFromURL(url);
  var token = extractTokenFromURL(url);

  // Modify the appURI to include arguments from the URL
  if (uid && token) {
    appURI += uid + '/' + token;
  }

  // Attempt to open the app
  window.location.href = appURI;

  // If the app is not installed, redirect to the app store or another webpage
  setTimeout(function() {
    window.location.href = 'https://yourappstorelink.com';
  }, 2000); // Redirect after 2 seconds (adjust this as needed)
}

// Function to extract UID from the URL
function extractUIDFromURL(url) {
  // Implement your logic to extract the UID parameter from the URL
  // For instance, using regular expressions or string manipulation
  // Example:
  // Assuming URL pattern: 'https://yourwebsite.com/password_reset_confirm/123/token123/'
  var matches = url.match(/password_reset_confirm\/([^/]+)\/([^/]+)/);
  if (matches && matches.length >= 3) {
    return matches[1];
  }
  return null;
}

// Function to extract token from the URL
function extractTokenFromURL(url) {
  // Implement your logic to extract the token parameter from the URL
  // Similar to extractUIDFromURL function
  var matches = url.match(/password_reset_confirm\/([^/]+)\/([^/]+)/);
  if (matches && matches.length >= 3) {
    return matches[2];
  }
  return null;
}
</script>

</body>
</html>
